table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 20px;
}

th {
  text-align: center;
}

.flightListContainer {
  background-color: #1ea1a1;
}

.searchFlightContainer {
  display: flex;
  align-items: center;
}
